{{ if eq .osid "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
{{ range .packages.darwin.brews -}}
brew {{ . | quote }}
{{ end -}}
{{ range .packages.darwin.casks -}}
cask {{ . | quote }}
{{ end -}}

{{ else if eq .osid "linux-ubuntu" -}}
#!/bin/bash

sudo apt update
{{ range .packages.ubuntu.apts -}}
sudo apt install -y {{ . | quote }}

{{ end -}}


{{ else if eq .osid "linux-fedora" -}}
 

{{ end -}}